!!!
%html
  %head
    %title Welcome!	
    %link{"rel" => "stylesheet", "href" => "stylesheets/screen.css", "type" => "text/css"}
  %body
    .container
      %a example link
      %ul
        %li This
        %li is
        %li an
        %li unordered
        %li list

    %p Why helloooooooo!
    - if 1 == 1
      %b Yeah!
    - if 1 == 2
      %em NO!!!!!
    = "bananas".reverse
